.mountains {
    height: 120dvh;
    position: relative;
    overflow: hidden;

    img {
        position: absolute;

        &:first-child {
            width: 80svw;
            left: -10svw;
            bottom: 0;
            animation: mountain1 15s both;
        }

        &:nth-child(2) {
            width: 70svw;
            right: 5svw;
            bottom: 15svw;
            animation: mountain2 15s both;
        }

        &:last-child {
            width: 65svw;
            right: -10svw;
            bottom: 5svw;
            animation: mountain3 15s both;
        }
    }

    @include max-to(small-pad) {
        height: 105dvh;

        img {
            max-width: none;

            &:first-child {
                width: 140svw;
                left: -45svw;
            }

            &:nth-child(2) {
                bottom: 20svw;
                right: 10svw;
            }

            &:last-child {
                width: 80svw;
                bottom: 10svw;
            }
        }
    }



    @keyframes mountain1 {
        0% {
            transform: translate(size(-10),size(-40));
        }
        100% {
            transform: translate(0,0);
        }
    }

    @keyframes mountain2 {
        0% {
            transform: translate(0,size(40)) scale(.8);
            opacity: .5;
        }
        100% {
            transform: translate(0,0) scale(1);
            opacity: 1;
        }
    }

    @keyframes mountain3 {
        0% {
            transform: translate(size(60),size(-10)) scale(.8);
            opacity: .5;
        }
        100% {
            transform: translate(0,0) scale(1);
            opacity: 1;
        }
    }
}

.main-logo {
    position: fixed;
    left: size(60);
    top: size(60);
    width: size(180);

    @include max-to(small-pad) {
        top: size(24);
        left: size(20);
        max-width: 30svw;
        backdrop-filter: blur(size(2));
        z-index: 5;
    }
}

.menu {
    display: none;

    @include max-to(small-pad) {
        z-index: 9;
        display: inherit;
        position: fixed;
        top: size(20);
        right: size(20);
        backdrop-filter: blur(size(2));
    }
}

nav {
    position: fixed;
    left: size(60);
    top: 60%;
    transform: translateY(-50%);
    z-index: 5;

    ul {
        @include font(14, Medium);
        display: flex;
        flex-wrap: wrap;
        gap: size(20);
        width: min-content;
        margin-top: 0;

        li {
            flex: 100%;
            @include a-color;
            cursor: pointer;
            word-break: keep-all;
        }
    }

    @include max-to(small-pad) {
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 100%;
        transform: none;
        background-color: rgba(#FAFCFA, .9);
        backdrop-filter: blur(size(2));
        z-index: 8;
        overflow: hidden;
        transition: bottom .3s;

        ul {
            text-align: center;
            display: initial;
            width: auto;
            overflow: hidden;
            padding: size(32);
            @include font(28, Medium);
            line-height: 3;
        }

        &.active {
            bottom: 0;
        }
    }
}

.deco {
    position: absolute;
    right: size(60);
    top: size(200);
    width: size(88);
    background-color: rgba(white, .6);
    border: 1px solid rgba(black, .6);
    color: color(dark);
    padding: size(32) size(24);
    display: flex;
    flex-wrap: wrap;
    gap: size(40);

    li {
        flex: 100%;
        text-align: center;
    }

    @include max-to(small-pad) {
        top: 45%;
        right: size(40);
        transform: translateY(-50%);
        font-size: size(24);
        width: size(120);
    }
}

section {
    padding: 20svw 10svw size(60) 45svw;
    position: relative;
    overflow: hidden;

    &::before {
        position: absolute;
        content: '';
    }

    @include max-to(pad) {
        padding-left: 40svw;
    }

    @include max-to(small-pad) {
        min-height: 90svh;
        padding: calc(30svw + size(20)) size(32) size(32) !important;
    }
}

#about {
    height: 90svw;

    &::before {
        background-image: url(../img/mountain-1.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: bottom center;
        left: -60svw;
        right: -20svw;
        top: 0;
        bottom: 0;
    }
}

#attorneys {
    padding: 10svw 10svw size(60) 25svw;
    background-image: url(../img/mountain-3.svg);
    background-repeat: no-repeat;
    background-position: bottom right -15svw;
    background-size: 65svw;
    position: relative;

    >div {
        display: flex;
        flex-wrap: wrap;
        gap: size(40);
        margin-bottom: size(300);

        h3 {
            flex: 100%;
            margin-left: 20svw;
            text-align: left;
        }

        .photo {
            flex: calc(20svw - size(40));
            flex-grow: 0;
            text-align: right;
        }

        .desc {
            flex: 1;
            transform: translateY(size(-8));
            line-height: 1.8;

            dt {
                font-weight: weight(SemiBold);
            }

            dd {
                font-weight: weight(Light);

                +dt {
                    margin-top: size(20);
                }
            }
        }
    }

    &::before,
    &::after {
        position: absolute;
        z-index: -1;
    }

    &::before {
        content: url(../img/mountain-2.svg);
        top: 27%;
        right: -10svw;
        width: 50svw;
    }

    &::after {
        content: url(../img/mountain-1.svg);
        top: 57%;
        left: -15svw;
        width: 70svw;
    }


    // pad ~ 1024
    @include max-to(pad) {
        padding-left: 20svw;
        background-size: 75svw;
        background-position: bottom right -10svw;

        >div {
            position: relative;

            .photo {
                img {
                    position: absolute;
                    top: 0;
                    right: 0;
                    max-width: 18svw;
                }
            }
        }

        &::before {
            top: 25%;
            width: 60svw;
        }

        &::after {
            top: 56%;
            left: -10svw;
            width: 90svw;
        }
    }


    // small-pad ~ 768
    @include max-to(small-pad) {
        >div {
            gap: size(40) 0;

            h3 {
                margin-left: 0;
            }

            .photo {
                flex: none;

                img {
                    max-width: 25svw;
                }
            }

            .desc {
                flex: 100%;
            }
        }
    }
}

#contact{
    padding-top: 10svw;
}

#contact,
#partner {
    position: relative;
    padding-bottom: 30svw;

    &::before {
        position: absolute;
        z-index: -1;
        content: url(../img/mountain-1.svg);
        bottom: -10svw;
        left: -40svw;
        width: 160svw;
    }

    @include max-to(small-pad) {
        &::before {
            bottom: 0;
        }
    }
}

footer {
    text-align: center;
    @include font(13, Light);
    padding: size(60);

    span {
        &+span {
            margin-left: size(40);
        }
    }

    ul {
        text-align: center;
        line-height: 1.5;
        overflow: hidden;

        li {
            display: inline-block;
            overflow: hidden;

            &:not(:last-child) {
                &::after {
                    content: '｜';
                }
            }
        }
    }

    // small-pad ~ 768
    @include max-to(small-pad) {
        padding: size(60) size(16) size(20);

        span {
            display: block;

            &+span {
                margin: 0;
            }
        }

        ul {
            flex-wrap: wrap;
        }
    }
}