// 尺寸
@function size($key) {
    @return calc($key / 16 * 1rem);
}

// 用法：
// margin: size(20) size(16);



// RWD 斷點
$breakpoints: (
    pc: size(1440),
    laptop: size(1200),
    pad: size(1024),
    small-pad: size(768),
    phone: size(516),
    small-phone: size(320),
);

@mixin max-to($bp) {

    // If the key exists in the map
    @if map-has-key($breakpoints, $bp) {

        // Prints a media query based on the value
        @media (max-width: map-get($breakpoints, $bp)) {
            @content;
        }
    }

    // If the key doesn't exist in the map
    @else {
        @warn "Unfortunately, no value could be retrieved from `#{$bp}`. "
        +"Available breakpoints are: #{map-keys($breakpoints)}.";
    }
}

// 用法：
// @include max-to(pad) {
//     ...
//     <= 768px 的樣式內容
// }




// 字重
$font-weight: (
    Light: 300,
    Regular: 400,
    Bold: 700,
    ExBold: 900,
    // ↑ JinXuan
    Thin: 100,
    ExLight: 200,
    Medium: 500,
    SemiBold: 600,
);

@function weight($key) {
    @return map-get($font-weight, $key);
}

// 用法：font-weight: weight(Thin);

@mixin font($size: 16, $weight: Medium) {
    font-size: size($size);
    font-weight: map-get($font-weight, $weight);
}

// 用法：@include font(16,Medium);



// 色彩定義
$colors: (
    primary: #718530,
    gray: #3E3A39,
    dark: #231815,
);

@function color($key) {
    @return map-get($colors, $key);
}

// 用法：
// color: color(primary);
// background-color: color(gray-8);




// 超連結顏色
@mixin a-color($default: color(gray), $hover: color(primary)) {
    color: $default;
    transition: color .2s;

    &:hover {
        color: $hover;
    }
}

// 用法：
// @include a-color(color(primary),color(primary-6));